<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>Productlist App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="animate.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body> 
 

<nav class="navbar navbar-inverse">
<div class="container" ng-controller="AppointmentCtrl">
<ul class="nav navbar-nav"  role="tablist">
	<li role="presentation" class="active">
		<a href="index.html" role="tab">Index</a>
	</li>
	<li role="presentation">
		<a href="Appointment_Display.html" role="tab">All Appointments</a>
	</li>
	<li role="presentation">
		<a href="Appointment_New.html" role="tab">New</a>
	</li>
	<li role="presentation">
		<a href="Appointment_Update.html" role="tab">Update</a>
	</li>
	<li role="presentation">
		<a href="Doctor_New.html" role="tab">AddDoctor</a>
	</li>
	<li role="presentation">
		<a href="Doctor_Update.html" role="tab">UpdateDoctor</a>
	</li>
	<li role="presentation">
		<a href="Doctor_Display.html" role="tab">All Doctor</a>
	</li>
</ul>
</nav>
	<table class="table animated fadeIn"">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Date and Time</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

			<tbody>
			<tr>
				<td><input class="form-control" ng-model="Appointmnt.FirstName"></td>
				<td><input class="form-control" ng-model="Appointmnt.LastName"></td>
				<td><input class="form-control" ng-model="Appointmnt.DateTime"></td>
				<td><button class="btn btn-primary" ng-click="addProduct()">Add product</button></td>
				<td><button class="btn btn-info" ng-click="updateProduct()">Update</button></td>
			</tr>

			<tr ng-repeat="Appointmnt in AppointmentList">
				<td>{{Appointmnt.FirstName}}</td>
				<td>{{Appointmnt.LastName}}</td>
				<td>{{Appointmnt.DateTime}}</td>	
			<td><button class="btn btn-danger" ng-click="removeProduct(Appointmnt._id)">Remove</button></td>
			<td><button class="btn btn-warning" ng-click="editProduct(Appointmnt._id)">Edit</button></td>
			
			</tr>
			</tbody>
		
	</table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="controllers/controller.js"></script>

</body>
</html>





